{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supprimer une réservation</h1>
    <p>Voulez-vous vraiment annuler cette réservation ?</p>
    <p>{{ reservation.livre.titre }} - {{ reservation.dateReservation|date('d/m/Y') }}</p>
    <form action="{{ path('app_annuler_reservation', {'id': reservation.id}) }}" method="post">
        <button type="submit">Confirmer</button>
    </form>
    <a href="{{ path('app_reservations') }}">Retour à mes réservations</a>
    <a href="{{ path('app_homepage') }}">Retour à la page d'accueil</a>
{% endblock %}
